:root {
    --ash: #ccc;
    --blackie: #222;
    --blue: #0090ff;
    --charcoal: #444;
    --gray: #888;
    --midnight: #22222f;
    --skye: #f0faff;
    --white: #fff;
    --yellow: #da4;
    --background-color: var( --white );
    --border-color: var( --ash );
    --color: var( --blackie );
    --top-height: 4rem;
}

.dark {
    --background-color: var( --blackie );
    --border-color: var( --charcoal );
    --color: var( --white );
}
body {
    background-color: var( --background-color );
    color: var( --color );
    margin: 0 auto;
    max-width: 2048px;
    overflow-x: hidden;
    width: 100%;
}
body * {
    background-color: inherit;
    color: inherit;
}
body a {
    color: var( --blue );
    text-decoration: none
}
body a:hover { color: #0090ffbb }
body h1 { font-size: 2rem }
body h2 { font-size: 1.78em }
body h3 { font-size: 1.5em }
body h4 { font-size: 1.25em }
body h4 { font-size: 1.125em }
body h1, body h2, body h3, body h4, body h5 { margin: 1rem 0 }

.vertical-top { vertical-align: top }

.top-barred { border-top: 1px solid var( --border-color ) }

@media ( min-width: 2049px ) {
    body {
        border-left: 1px solid;
        border-right: 1px solid;
        border-color: var( --border-color );
    }
}

.index-route .installation { margin: 2rem 0 3rem }
.index-route .installation > * {
    display: block;
    margin-bottom: 0.5rem;
}
.index-route .installation header {
    font-variant: small-caps;
    font-weight: 600;
    text-decoration: underline;
}
.index-route .installation strong {
    margin-right: 0.5rem;
    color: var( --blue );
}