.code-block { display: contents }
.code-block > :first-child {
    border: 1px solid var(--charcoal);
    border-radius: 0;
    position: relative;
}
.code-block .sc-beySPh {
    background: transparent;
    border: none;
    color: var( --charcoal );
    cursor: pointer;
    outline: none;
    right: 0.5rem;
    position: absolute;
    top: 0.5rem;
}
.code-block .kEhKfQ:hover,
.code-block .sc-beySPh:hover {
    color: var( --blue );
    opacity: 1;
}
.code-block .linenumber.react-syntax-highlighter-line-number {
    border-right: 1px solid var( --yellow );
    margin-right: 1em;
}