.site-nav { max-width: 18.75rem }
.site-nav .indent1 { padding: 0.5rem }
.site-nav .indent2 { padding: 1rem }
.site-nav .indent3 { padding: 1.5rem }
.site-nav .group-link {
    border-color: #888;
    border-bottom: 2px solid;
    font-weight: 500;
}