.site-footing {
    background-color: var( --blackie );
    border: none;
    border-top: 2px solid var( --yellow );
    color: var( --gray );
    padding: 0.5rem;
}
.site-footing a { color: var( --gray ) }
.site-footing > * { display: flex }
.site-footing > .affiliate-columns {
    flex-wrap: wrap;
    gap: 2rem 5rem;
    justify-content: space-between;
    padding: 1rem 3rem;
}
.site-footing > .affiliate-columns > * {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 12.5rem;
    min-width: 6.25rem;
}
.site-footing > .ip { flex-wrap: wrap }
.site-footing > .ip > :first-child { margin-right: 0.25rem }
.site-footing > .ip > :last-child {
    justify-content: end;
    text-align: right;
}
.site-footing .dkm-link {
    align-items: center;
    column-gap: 0.25rem;
    display: flex;
    flex-wrap: nowrap;
}
.site-footing .dkm-link > a { cursor: pointer }
.site-footing  .dark-mode-settings {
    height: 1.25rem;
    width: 1.25rem;
}
.site-footing .dark-mode-settings .anticon-moon {
    font-size: 0.75rem;
}
.site-footing .dark-mode-settings .anticon-sun {
    font-size: 1rem;
}
@media ( max-width: 575px ) {
    .site-footing > .ip { justify-content: center }
}
